#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 800px;
  border: 7px solid rgb(68, 218, 68);
  border-radius: 30px;
  gap: 20px;
  background-color: #535353;
  color: rgb(68, 218, 68);
}

#de {
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 230px;
}

#de input {
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100px;
}

#de select {
  width: 60px;
  height: 35px;
  border-radius: 5px;
}

#para {
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 230px;
}

#para select {
  width: 50px;
  height: 40px;
  border-radius: 5px;
}

#para button {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: rgb(68, 218, 68);
  color: aliceblue;
  border: 2px solid #fff;
}

#para button:hover{
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: rgb(68, 218, 68);
  border: 2px solid rgb(68, 218, 68);
}

#resultado {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #fff;
  color: black;
}

